width = 1600px
header-line-color = #2ecc71
header-line-height = 10px
header-height = 500px

@import 'normalize.css'

body
	font-family 'PT Sans' Tahoma Arial
	margin 0 auto
	width width

.site-header
	background url(../img/bg_header.png) no-repeat 50% -150px
	background-size cover
	height (header-height+header-line-height)

	.line
		background header-line-color
		height header-line-height
		width width
