width = 1600px
header-line-color = #2ecc71
header-line-height = 11px
header-height = 500px

body
	font-family 'PT Sans' Tahoma Arial
	margin 0 auto
	width width

.site-header
	outline 1px solid red
	height (header-height+header-line-height)
	background url(../img/bg_header.png) no-repeat 50% -150px, linear-gradient(white, black)

	.line
		width width
		height header-line-height
		background header-line-color
		box-shadow 0 0 15px black
