body
	margin 0 auto
	width 1600px

.site-header
	outline 1px solid red
	height 510px
	background url(../img/bg_header.png) no-repeat 50% -150px

	.line
		width 1600px
		height 10px
		background #2ecc71