*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


body{
	background: url(../img/body_bg.png);
	font-family: "PT Sans", Tahoma, Arial;
}

.content{
	margin:50px auto;
	width: 1050px;
	border:1px solid #dbdbdb;
	background:#fff;
}

.content-up{
	margin:0 50px; 
}

.logo{
	padding: 25px 0; 
	
	font-size: 30px; 
	font-weight: bold; 
	color: #5b5b5b;
	text-shadow: 0 0 1px #5d5d5d;
}

.nav{
	background: #393939;
	
}
nav{
	float:left;
	list-style: none;
}
nav li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
}
nav li a{
	display:block;
	text-decoration: none; 
	color:#fff;
	padding:20px;
	border-right:1px solid #464646;
}

.social{
	margin:0;
	float:right;list-style: none; 
	padding-right:20px;
}
.social li{
	display: inline-block;
}
.social li i{
	padding-top:20px;
	padding-right:10px;
	color:#fff;
	opacity: .1;
	font-size: 14px;
	cursor:pointer;
}
.social li i:hover{opacity: .5;}

.slider{
	outline: 1px solid red;
	height: 620px;
}

.slider header{
	height:95px;
	outline: 1px solid red;
	margin-bottom: 0;
	line-height: 95px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color:#5c5c5c;
	text-shadow: 1px 1px 0px #aeaeae;
}

.slider .text{
	height: 55px;
	outline: 1px solid green;
	margin-top:0;
	line-height: 55px;
	text-align: center;
	font-size: 25px;
	color:#5c5c5c;
	text-shadow: 1px 1px 0px #aeaeae;
}

.slider .slide{
	position:relative;
	height:520px;
	overflow: hidden;
}

.slider .slide>a{
	position:absolute;
	top:40%;
	background-color: #ececec;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: block;
	text-align: center;
	line-height: 40px;
	text-shadow: 0 0 1px #fff;
}
.slider .slide>a.right{
	right:0%;
}
.slider .slide>a:hover{
	background-color:#75cec2;
	color:#fff;
}

.slider .position li{
	border-radius: 50%;
	height:15px;
	width: 15px;
	background-color:#ddd; 
	cursor:pointer;
	float:left;	
	margin-right:5px;
}

.slider .position li.active{
	background-color:#75cec2;
}

.slider ul.position {
	padding:0;
	bottom:70px;
	left: 45%;
	position:absolute;
	list-style: none; 
}